<div id='score'>
	<div>
		<div id='scoreNames'>
			<div>
				<span> Pontuação </span>
			</div>
			<div>
				<span>@<%= score[0][0]%></span>
				<span><%= score[0][1]%></span>
				<span>1º - <%= score[0][2]%></span>
			</div>
			<% if (score[1]!=undefined){%>
			<div>
				<span>@<%= score[1][0]%></span>
				<span><%= score[1][1]%></span>
				<span>2º - <%= score[1][2]%></span>
			</div>
			<% }; %>
			<% if (score[2]!=undefined){%>
			<div>
				<span>@<%= score[2][0]%></span>
				<span><%= score[2][1]%></span>
				<span>3º - <%= score[2][2]%></span>
			</div>
			<% }; %>
			<% if (score[3]!=undefined){%>
			<div>
				<span>@<%= score[3][0]%></span>
				<span><%= score[3][1]%></span>
				<span>4º - <%= score[3][2]%></span>
			</div>
			<% }; %>
			<% if (score[4]!=undefined){%>
			<div>
				<span>@<%= score[4][0]%></span>
				<span><%= score[4][1]%></span>
				<span>5º - <%= score[4][2]%></span>
			</div>
			<% }; %>
		</div>
	</div>
</div>

