<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Thot's tabern</title>
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='/img/icon.png'>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<main>
			<section id='panel'>
				<div id='profile'>
					<a id='link_profile' href='/profile'><div id='userPanel'>
						<div>
							<span id='fakebutton'>profile</span>
							<span id='title_user'></span>
						</div>
						<img id='title_img'src=''>
						
					</div></a>
					<div id='logoff' onclick='logoff("s")'> <span>logoff</span> </div>
					<%- include("./partials/score.ejs") %>
				</div>
				<div id='game'>
					<div id='play'>
						<div>
							<div id='newWord'>
								<span>add uma nova palavra</span>
							</div>
							<div id='init'>
								<span>onde vai chamar o jogo</span>
							</div>
						</div>
					</div>
					<div id='allPlayers'>
						<div id="oUH">
							<h1> Peripatéticos da Taberna </h1>
						</div>
						<div id="mini">
							<% data.forEach((d) => { %>
							<div class="mini_user">
								<img src="<%= d.img %>">
								<span> @<%= d.user %> </span>
							</div>
							<% });%>
						</div>
					</div>
					<div id='words'>
						<% list.forEach((i) => {%>
						<span><%= i %></span>
						<% })%>
					</div>
				</div>
			</section>
		</main>
		<%- include("./partials/footer.ejs") %>
		<script type='text/javascript'> 
			document.onreadystatechange = function () {
				if (document.readyState === 'complete') {
					game(user);
				};
			};
		</script>
		<script src='/js/scripts.js'></script>
	</body>
</html>