<!DOCTYPE html>
<html lang='en' translate='no'>
	<head>
		<title>Thot's tabern||adm</title>
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='/img/icon.png'>
		<link rel='stylesheet' href='/css/style.css'>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body id="loading_page" style="flex-direction: row;padding: 1rem;">
		<div id="database" style="height: 95%;width: 95%;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: flex-start;align-items: flex-start;gap: 1rem;;overflow: auto;border: dotted 0.3rem;padding: 2rem;">
			<% data.forEach((d) => { %>
			<div class="user" style="background: cyan;border: solid;height: 250px;width: 160px;display: flex;padding: 0.2rem 1rem;flex-direction: column;align-items: center;">
				<span class="u"> id: <%= d.id %> </span>
				<span class="u"> user: @<%= d.username %> </span>
				<span class="u"> name: <%= d.name %> </span>
				<span class="u"> pass: <%= d.pw %> </span>
				<span class="u"> pts: <%= d.pts %> </span>
				<div style="height: fit-content;width: 100%;overflow-x: auto;display: flex;align-items: center;justify-content: flex-start;">
					<span class="u" id="uwords"><%= d.words %></span>
				</div>
			</div>
			<% });%>
		</div>
		<div id="formAdm" style="height: 25%;width: 10%;padding: 0.3rem;">
			<form id="deleteadm" action='/delAdm' method='POST' style="height: 100%;width: 100%;display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;border: solid 0.1rem;background: #f1f1f1;">
				<input type="number" id="id" name="id" class="deleteadm" placeholder="id" style="width: 5rem;aspect-ratio: 1;text-align: center;">
				<button type="submit" style="height: 4rem;aspect-ratio: 1;"> > </button>
			</form>
		</div>
	</body>
	<body id='loading_page'>
	<script type='text/javascript'>


		Swal.fire({
			title: 'Login Form',

			html: `
				<form id='log' action='/logged' method='POST'>
					<input type="text" id="login" name='login' class="swal2-input" placeholder="Username">
					<input type="password" id="password" name='pw' class="swal2-input" placeholder="Password">
					<button style='border: none; background: transparent;' type='submit'> . </button>
				</form>`,
			confirmButtonText: 'Sign in',
			focusConfirm: false,
			preConfirm: () => {
			const login = Swal.getPopup().querySelector('#login').value
			const password = Swal.getPopup().querySelector('#password').value
			if (!login || !password) {
			Swal.showValidationMessage(`Please enter login and password`)
			}
			return { login: login, password: password }
			}
			}).then((result) => {
			Swal.fire(`
			Login: ${result.value.login}
			Password: ${result.value.password}
			`.trim())
		});

	</script>
</html>


					