<!DOCTYPE html>
<html lang='en' translate='no'>
	<head>
		<title>Thoth's tabern</title>
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='/img/icon.png'>
		<link rel='stylesheet' href='/css/style.css'>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<main>
			<section id="usersPanel">
				<div>
					<div>
						<div id="oUH">
							<div id="dot"></div>
							<h1> Peripatéticos da Taberna </h1>
							<div id="dash"></div>
						</div>
						<div id="oU">
							<% data.forEach((d) => { %>
							<div class="user">
								<img src="<%= d.img %>">
								<span> @<%= d.user %> </span>
							</div>
							<% });%>
						</div>
					</div>
				</div>
			</section>
			<section id="wb">
				<%- include("./partials/wb.ejs") %>
				<%- include("./partials/login.ejs") %>
				<%- include("./partials/register.ejs") %>
			</section>
		</main>
		<div id='ask'>
			<div id='modal_asking'>
				<span>Este site utiliza cookies para uma experiência completa</span>
				<button onclick='cookies()'>✔️</button>
			</div>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
	<script src="/js/scripts.js"></script>
	<script type='text/javascript'>
		const err = '<%- erro %>'
		const ck = localStorage.getItem('cookie');

		document.onreadystatechange = function () {
			if(ck===null){
				console.log('não tem');
				setTimeout(() => {
						document.getElementById('modal_asking').style.display = 'flex';
				}, 2000);
			}
			isLogged(user);
			error(err);
		};	
	</script>
</html>